<h1>Articals Listing page</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
        <tbody>
        <% for i in @artical %>
            <tr>
            <td scope="col"><%= i.title %></td>
            <td scope="col"><%= i.description %></td>
            <td scope="col"><%= link_to "Show", artical_path(i.id)%></td>
            <td scope="col"><%= link_to "Edit", edit_artical_path(i.id)%></td>
            <td scope="col"><%= link_to "Delete", artical_path(i.id), data: { "turbo-method": :delete } %></td>
            </tr>
        </tbody>
        <% end %>
    
</table>
 <%= link_to "New", new_artical_path(@artical)%>